

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#flipbook{
    width: 800px;
    height: 400px;
}
#flipbook .turn-page{
    background-color:#ccc;
}














