---
layout: default
title: Blog
---


{% for post in paginator.posts %}

<!-- here add you post markup -->
        <div class="row-fluid">
            <div class="offset2 span8">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            </div>

        </div>
        <div class="row-fluid">
            <div class="offset2 span8">
                <span class="date">{{post.date | date: '%b %d %Y'}}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="offset2 span8">
                {{ post.content }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="offset2 span8">
                {% include twitter.html %}
            </div>
        </div>

{% endfor %}

<!-- Pagination links -->
<div class="row-fluid">
    <div class="offset4 span4">
        <ul class="pager">
            {% if paginator.previous_page %}
                <li class="previous" ><a href="/page{{paginator.previous_page}}">Newer</a></li>
            {% else %}
                <li class="previous disabled"><a >Newer</a></li>
            {% endif %}
            {% if paginator.next_page %}
                <li class="next" ><a href="/page{{paginator.next_page}}">Older</a></li>
            {% else %}
                <li class="next disabled"><a >Older</a></li>
            {% endif %}

        </ul>
    </div>
</div>

