<hr>

<div class="row-fluid" style="height: 32px"></div>
<div class="row-fluid ">
    <div class="offset2 span8">
        <ul class="nav nav-pills">
            <li class="span2"><a class="pagination-centered"  href="http://roster.rgaskill.com">BbTk</a></li>
            <li class="span2"><a class="pagination-centered" href="https://github.com/rgaskill">GitHub</a></li>
            <li class="span2"><a class="pagination-centered" href="http://www.linkedin.com/pub/roarke-gaskill/10/621/87a">LinkedIn</a></li>
            <li class="span2"><a class="pagination-centered" href="https://plus.google.com/u/0/102982405084452530081/posts">Google+</a></li>
            <li class="span2"><a class="pagination-centered" href="http://geekli.st/rgaskill">GeekList</a></li>
            <li class="span2"><a class="pagination-centered" href="https://twitter.com/roarke100">Twitter</a></li>
        </ul>
    </div>
</div>

<footer>
    <div class="row-fluid">
        <div class="span12 pagination-centered">
            <p>&copy; 2013 Roarke Gaskill</p>
        </div>
    </div>
</footer>