
<div class="row-fluid" >
    <div class="pagination-centered">
        <h3>Roarke Gaskill</h3>
    </div>
</div>
<div class="row-fluid" style="height: 32px">
</div>
<div class="row-fluid clearfix">
    <div class="span4 pagination-centered" >
        <img class="img-polaroid" src="/img/IMG_20130306_202432.jpg" />
    </div>
    <div class="span4 pagination-centered">
        <img class="img-polaroid" src="/img/IMG_20130306_202453.jpg" />
    </div>
    <div class="span4 pagination-centered">
        <img class="img-polaroid" src="/img/IMG_20130306_202538.jpg" />
    </div>
</div>
<div class="row-fluid" style="height: 128px">
</div>